<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>This guy has to be found.</h2>
            <img class="portrait" src="/images/portrait.png">
        </div>
        {{>footer}}
    </body>
</html>