<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>The best of The Weather</p>

            <form>
                <input placeholder="Any location">
                <button>Search</button>
            </form>
            <div id="forecast"></div>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>
